body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #ffffff, #ffffff);
    background-size:cover;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header{
  padding: 30px 0px;
}

.container{
  width : 1300px;
  margin : 0 auto;
}

h1 {    
    font-size: 30px;
    margin-bottom: 1em;
    color: #000000;
        font-weight: 500;
    font-family: Helvetica Now Display;
    line-height: 112%;
    letter-spacing: -4%;
}

h2 {
    color: #98A2B3;
    text-align: left;
    font-size: 23px;
    font-weight: 400;
    font-family: Helvetica Now Display;
    line-height: 112.00000000000001%;
    letter-spacing: -4%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 350px;
  width: 500px;
  height: 100px;

}

h3 {
    color: #98A2B3;
    text-align: right;
    font-size: 23px;
    font-weight: 400;
    font-family: Helvetica Now Display;
    line-height: 112.00000000000001%;
    letter-spacing: -4%;
      margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 350px;
     width: 500px;
  height: 100px;

}

 p {
    font-size: 15px;
    color: #98A2B3;
}



.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #FFDD33;
  color: black;
  border-radius: 24px;
}

.topnav a.active {
  color: rgb(0, 0, 0);
}

html {
  scroll-behavior: smooth;
}


button {
  padding: 0 10px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border: solid 0px black;
  font-weight: 700;
  font-size: 13px;
  background-color: hsl(49deg 98% 60%);
  border-radius: 50px;
  transition: all 0.5s ease;
  width: 150px; 
  height: 50px;
  /* Button */

/* Auto layout */

/*
  display: flex;
  flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 20px;
gap: 8px;

width: 149px;
height: 50px;

 font color/dark 800 
border-radius: 32px;

/* Inside auto layout 
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
*/

}


button:hover {
  background-color: hsl(0, 0%, 0%); /* change to your desired color */
  color:white
}






/* Frame 2 */

/* Auto layout */
b{
  text-align: left;
  margin-bottom: 30px;
}


em{

background: linear-gradient(180deg, rgba(249, 250, 251, 1) 83%, rgba(255,255,255,1) 83%, rgba(255,255,255,1) 100%);

display: flex;
flex-direction: column;
align-items: center;
padding: 45px 45px 5px;
gap: 2px;

width: 200px;
height: 300px;

border-radius: 32px;

  
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}



header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}





.loginButton {
  background-color: #00000000;  
}

.loginButton:hover {
  background-color: hsl(49deg 98% 60%);
  color:black
}


.openAccButton{
  background-color: #000000;
  color: #ffffff;
}

.openAccButton:hover {
  background-color: hsl(49deg 98% 60%);
  color:black
}




.GenCardButton {
  background-color: #ffffff;  
  color: #000000;
  border: 2px solid rgba(239, 239, 239, 1);

}

.GenCardButton:hover {
  background-color: hsl(49deg 98% 60%);
  color:black
}